/* Reset all margin and padding to 0 for all elements */
* {
 margin: 0;
 padding: 0;
}

/* Style for header and footer */
header,
footer {
 width: 100%;
 height: 120px;
 background-color: blue;
 color: white;
}

/* Center-align text in h1 and h2 elements */
h1,
h2 {
 text-align: center;
}

/* Style for images */
img {
 display: block;
 height: 50px;
 width: 50px;
 margin-left: auto;
 margin-right: auto;
}

/* Add padding to unordered lists and set font size */
ul {
 padding-left: 40px;
 font-size: 20px;
}

/* Center-align text in paragraphs and set font size */
p {
 text-align: center;
 font-size: 30px;
}
